
<ul class="nav flex-column">
  <div class="brand">
    <a class="navbar-brand" href="#">Finance Control</a>
  </div>
  <li *ngFor="let item of menu; let i=index" class="nav-item">
    <a *ngIf="!item.children" class="nav-link" [routerLink]="[item.route]"><i class="bi {{item.icon}}"></i> {{item.title}}</a>

    <a #htmlMenu [id]="'menu_' + i" *ngIf="item.children" [href]="'#submenu_' + i" class="nav-link dropdown-toggle nav-link-toggle" (click)="toggleMenu(i)"
       [ngClass]="{'navbar-collapse-items' : isOpen}" aria-expanded="false" data-bs-toggle="collapse">
      <i class="bi {{item.icon}}"></i> {{item.title}}
    </a>
    <div class="collapse navbar-collapse nav-link-toggle" [id]="'submenu_' + i">
      <ul class="nav flex-column navbar-collapse-items">
        <li *ngFor="let children of item.children" class="nav-item"><a class="nav-link nav-link-subitem" [routerLink]="[children.route]">{{children.title}}</a></li>
      </ul>

    </div>
</ul>
