.sidenav{
    height: 100vh;
}

mat-sidenav {
  background-color: $dark;
  height: 100vh;
  width: 256px;
}

.sidenav-toggler {
  width: 40px;
  height: 40px;
  border: none;
  margin: 0 10px 0 10px;
  background: none;
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;

  &-icon {
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.55);


    &:hover {
      color: $dark;
    }
  }

  &:hover {
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
