body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.wrapper {
  position: absolute;
  width: 100%;
  top: 69px;
  z-index: 1;
  height: calc(100vh - 69px);
  overflow: auto;
}

.container-main {
  background-color: #F0F3F5;
}

