$green: #1ECB97;
$orange: #DB7D40;
$white: #FFFFFF;

$primary: $green;
$secondary: $orange;
$danger: #f15050;
$warning: #fab63a;
$info: #48acc7;
$dark: #22282E;
$light: #F0F3F5;


$font-color: white;


