$green: #1ECB97;
$orange: #DB7D40;
$white: #FFFFFF;

$blue: #57E1F0;
$purple: #400069;

$primary: $blue;
$secondary: $blue;
$danger: #f15050;
$warning: #fab63a;
$info: #48acc7;
$dark: #1F1F1F;
$light: #FFF;


$font-color: white;

$font-xs: 0.91rem;
$font-sm: 1rem;
$font-df: 1.33rem;
$font-lg: 1.83rem;
$font-xl: 3.5rem;

$font-size-base: 1rem;
$font-family-base: "Segoe UI";
